:root{
    --primaryColor:#bac964;
    --seconderyColor: #2c3e50;
    --white: #fff;
    --bg:#333;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .3s linear;
}

html{
    font-size: 90%;
    overflow-x: hidden;
    scroll-padding-top: 75px;
    scroll-behavior:smooth;
}


body{
    color: #ffffff79;
    background: #222;
    line-height: 1.7rem;
    font-size: 1rem;
    font-weight: 300;
    position: relative;
}

/* commonly used style */
section{
    padding: 6rem 0;
}

h1,h2,h3{
    font-weight: 100;
    color: var(--white);
}
h2 strong {
    font-weight: 900;
}

.btn.btn-primary{
    background: var(--primaryColor) !important;
    letter-spacing: .25rem;
    font-size: .9rem;
    border-radius: 3.1rem;
    border-color: var(--primaryColor) !important;

}
.btn.btn-primary:hover{
    color: var(--primaryColor) !important;
    background: transparent !important;
    border-color: var(--primaryColor) !important;
    box-shadow: 0 0 5px var(--primaryColor) !important;
}

.btn-secondary{
    border-radius: 3.1rem;
    letter-spacing: .25rem;
}

.underline{
    width: 6rem;
    height: .2rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    background: var(--primaryColor);
}

.reveal{
    position: relative;
    transform: translateY(15.5rem);
    opacity: 0;
}
.reveal.active{
    position: relative;
    transform: translateY(0);
    opacity: 1;
}
/* end */

/* navigation */
.site-navbar.bg-light {
    background: transparent !important;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--white) !important;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
.navbar-light .navbar-nav.active .nav-link {
    color:var(--bg) !important;
}
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primaryColor) !important;
    border-bottom: 1px solid var(--primaryColor);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--primaryColor) !important;
}
/* navigation end */

/* home section */
.section-home{
    height: 100vh;
    background-image:linear-gradient(#33333339,#33333353),url(images/min-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
}
.section-home .contents h1{
    font-size: 3.1rem;
}
.section-home .contents h1 strong{
    font-size: 3.7rem;
    font-weight: 800;
}

.section-home .contents strong{
    letter-spacing: .3rem;
}
/* home section end */

/* portfolio section */
.section-portfolio .container .filters ul{
    list-style: none;
    margin-bottom: 2.5rem;
}
.section-portfolio .container .filters ul li{
    margin: 1rem;
    cursor: pointer;
}
.section-portfolio .container .filters ul li:hover{
    color:var(--primaryColor);
}

.section-portfolio .container .filters ul li.active{
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
}

.section-portfolio .container .filters-content .single-portfolio{
    margin: .7rem 0;
    display: none;
    cursor: pointer;
    padding: .7rem ;
}

.section-portfolio .container .filters-content .single-portfolio:hover{
    box-shadow: 0 0 .55rem var(--primaryColor);
}
.section-portfolio .container .filters-content .single-portfolio:hover img{
    transform: scale(1.05);
}

.section-portfolio .container .filters-content .single-portfolio.show{
    display: inline-block;
}
.section-portfolio .container .filters-content .single-portfolio.show-all{
    display: inline-block;
}

.section-portfolio .container .filters-content .single-portfolio .image-bx{
    height: 13rem;
    overflow: hidden;
}
.section-portfolio .container .filters-content .single-portfolio .image-bx .image{
    height: 100%;
    width: 100%;
}
.section-portfolio .container .filters-content .single-portfolio .p-inner{
    text-align: center;
    padding: .7rem 0;
}
.section-portfolio .container .filters-content .single-portfolio .p-inner h4{
    color: var(--white);
}
.section-portfolio .container .filters-content .single-portfolio:hover .p-inner h4{
    color: var(--primaryColor);
}
/* portfolio section end */

/* resume section */
.resume-item {
    padding: 1.9rem;
    background: #333;
    transition: .3s all ease;
    border-radius: 7px;
}
.resume-item .date {
    display: block;
    margin-bottom: .65rem;
    font-size: .8rem;
    font-weight: 600;
    color: #fff;
}
.resume-item h3 {
    color: var(--primaryColor);
    font-size: 1.3rem;
}
/* resume section end */

/* skills section */
.progress {
    height: 1.5rem;
    background-color: var(--bg);
    border-radius: 1.5rem;
}
.progress-bar {
    background-color: var(--primaryColor);
    border-radius: 1.5rem;
    transition: width .6s ease;
}
/* skills section end */

/* about section */
.about-bx {
    padding: .9rem 0;
    box-shadow: 0 0 .2rem var(--primaryColor);
}
/* about end */


/* Testimonial section */
.block-singel-bx .block-image{
    max-width: 4rem;
    overflow: hidden;
}
.block-singel-bx .block-image img{
    border-radius: 50%;
}


.block-singel-bx .block-comment {
    padding: 1.9rem;
    background: #333;
    border-radius: .5rem;
    font-size: .9rem;
    position: relative;
    box-shadow: 0 2px 30px -2px #0000001a;
    margin-left: 1rem;
}

.block-singel-bx .block-comment::before{

    content: "";
    border: 1px solid #333;
    z-index: 2;
    position: absolute;
    left: -15px;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: transparent #333 transparent transparent;

}
.block-singel-bx .block-comment cite{
    color:#ffffff51
}
.block-singel-bx .block-comment cite a {
    color: var(--primaryColor);
}

/* accordion */
.accordion{
    max-width: 50rem;
    margin: 4rem auto 0;
}
.accordion .accordion-item{
    border: none !important;
    box-shadow: 0 0 5px var(--primaryColor) !important;
}
.accordion .accordion-item .accordion-header{
    color: var(--bg);
    background: var(--primaryColor);
    text-transform: uppercase;
    font-weight: bold;
    padding: .7rem 1rem;
}

.accordion-button:not(.collapsed) {
    color: var(--primaryColor) !important;
    background-color: var(--bg) !important;
}
.accordion-body{
    background: #222;
}
.accordion-body .site-form input{
    background: var(--bg);
    border: none;
    color: #ffffff79;
}
.accordion-body .site-form textarea{
    background: var(--bg);
    border: none;
    color: #ffffff79;
    height: 9.3rem;
}
/* Testimonial section end */

/* services section */
.section-services .single-service-bx{

    background: var(--bg); 
    padding: 3rem 1.5rem 1.5rem;
}
.section-services .single-service-bx:hover{

    transform: scale(.95);

}
.section-services .single-service-bx .icon .icon i{

    font-size: 3.1rem;
    background: var(--primaryColor);
    color: var(--bg);
    padding: 1.25rem 1.8rem;
    border-radius: 50%;
    margin-bottom: 3.1rem;

}
.section-services .single-service-bx .site-link {
    text-decoration: none;
    font-weight: 700;
    color: var(--primaryColor);
}

.section-services .single-service-bx .site-link:hover i{
    padding-left: 15px;
}
/* services section end*/

/* blog section */
.section-blog .blog-entry{
    background: var(--bg);
   
}
.section-blog .blog-entry:hover{
    transform: translateY(1rem);
}
.blog-entry .blog-entry-text {
    border-top: none;
    padding: 1.9rem;
}
.blog-entry .blog-entry-text h3 a {
    text-decoration: none;
    color: var(--white);
}
.blog-entry .blog-entry-text h3 a:hover{
    color: var(--primaryColor);
    
}
.blog-entry .blog-entry-text .meta a {
    color: #ffffff51;
    text-decoration: none;
}
.blog-entry .blog-entry-text .meta:hover a{
    color: var(--primaryColor);
}
/* blog section end */

/* contact section */
.site-form .form-group input {
    background: var(--bg);
    border: none;
    color: #ffffff79;
    -webkit-box-shadow: 0 1px 2px 0 #0000001a !important;
    box-shadow: 0 1px 2px 0 #0000001a !important;
    margin-bottom: 10px;
}
.site-form .form-group textarea {
    background: var(--bg);
    border: none;
    color: #ffffff79;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 2px 0 #0000001a !important;
    box-shadow: 0 1px 2px 0 #0000001a !important;
}

.site-contact-details li {
    list-style: none;
    margin-bottom: 1.25rem;
}

.site-contact-details li span {
    color: var(--primaryColor);
    letter-spacing: .1em;
    font-size: .7rem;
    font-weight: 500;
    margin-bottom: .3rem;
    display: block;
}
/* contact section end */

/* footer */
.site-footer .social-item {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    color: #bac964;
    background: #333;
    position: relative;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 0 .7rem;
}
.site-footer .social-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.email{
    text-decoration: none;
    color:#ffffff79;
}
.email:hover{
    color: var(--primaryColor);
    text-shadow: 0 0 1px var(--primaryColor);
}
/* footer end */



/* media query */
@media(min-width:1400px) {
    html{
        font-size: 100%;
    }
}

@media(max-width:991px){
    html{
        font-size: 80%;
    }
    section{
        padding: 4rem 0;
    }
    .section-home{
        height: 70vh;
    }
}

@media(max-width:768px) {
    html{
        font-size: 75%;
    }
    section{
        padding: 3.5rem 0;
    }
    .section-home{
        height: 50vh;
    }
}